<app-header></app-header>
<div class="container">
  <div class="bg-details">
  </div>
  <div class="description">
    <div class="item-name">
      CAFE MOCHA
    </div>
    <div class="content">
      <h2>GIỚI THIỆU</h2>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      <br>
      <br>
      <h2>CÔNG THỨC PHA CHẾ</h2>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    </div>
  </div>
</div>