
.footer{
    height: 100%;
    background: #FFFFFF;
    width: 100%;
    ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin-bottom: 0;
        height: 100%;
        .item-footer{
            list-style: none;
            padding: 23px 0;
            outline: none;

            img{
                width: 30px;
            }
            .fa{
                font-size: 35px;
            }
        }
    }
}