<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 item" *ngIf="product">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 product-detail" [style.background-image]="'url('+product?.LinkImage+')'"
            style="background:#333; background-repeat: no-repeat; background-size:cover; background-position:center; height: 100%;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
            <div class="product-name">{{product?.TenSP}}</div>
            <div class="product-price">{{product?.Gia | currency:' ': true : '1.0-3'}} VNĐ </div>
            <div class="product-action">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default minus" (click)="onReduction(product)">-</button>
                    <button type="button" class="btn btn-default quantity" *ngIf="!product.SoLuong">0</button>
                    <button type="button" class="btn btn-default quantity" *ngIf="product.SoLuong > 0" disabled>{{product.SoLuong }}</button>
                    <button type="button" class="btn btn-default add" (click)="onAdd(product)">+</button>
                </div>
            </div>
        </div>
    </div>
</div>